* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --gainsboro: #dbdbdb;
  --white: white;
  --black: black;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
body {
  font-family: "Roboto", sans-serif;
}
img {
  max-width: 100%;
}
input,
label {
  display: block;
}
label {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 500;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  margin: 0 0 30px 0;
}
input[type="radio"] {
  appearance: none;
}
.btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}
.btn-next {
  display: block;
  width: 240px;
  margin-top: 40px;
  text-align: center;
  padding: 12px;
  border-radius: 8px;
  color: var(--white);
  background-color: var(--black);
}
.btn-back {
  display: block;
  width: 240px;
  margin-top: 40px;
  text-align: center;
  padding: 12px;
  border: 1px solid var(--black);
  border-radius: 8px;
  color: var(--black);
  background-color: var(--white);
}
header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.127);
}
header .logo div {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.194);
  border-radius: 50%;
}
section {
  padding: 75px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.127);
}
.main-title {
  text-align: center;
}
.main-title h2 {
  font-size: 40px;
  font-weight: 700;
}
.inputs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 60px;
}
.coulmn {
  width: 50%;
}
.inputs .coulmn input {
  width: 80%;
  padding: 8px 12px;
  border-radius: 6px;
  outline: none;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.181);
}
@media (max-width: 991px) {
  .inputs {
    justify-content: center;
  }
  .coulmn {
    width: 100%;
  }
  .inputs .coulmn input {
    width: 100%;
  }
}
input::placeholder {
  font-size: 14px;
}
.title-gender {
  padding-top: 40px;
}
.gender {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
@media (max-width: 991px) {
  .title-gender {
    text-align: center;
  }
  .gender {
    justify-content: center;
  }
}
.gender label {
  width: fit-content;
  padding: 8px;
  border-radius: 6px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.059);
}
.btn-personal-information {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.course-selection .check-courses {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 60px;
}
.courses {
  width: 50%;
}
.course-name {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.course-name label {
  width: fit-content;
  padding: 8px;
  border-radius: 6px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.059);
}
@media (max-width: 991px) {
  .course-selection .check-courses {
    justify-content: center;
  }
  .courses {
    width: 100%;
  }
  .title-course-name {
    text-align: center;
  }
  .course-name {
    width: 100%;
    justify-content: center;
  }
}
.title-preferred-time {
  padding-top: 40px;
}
.preferred-time {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.preferred-time label {
  width: fit-content;
  padding: 8px;
  border-radius: 6px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.059);
}
.preferred-start-date {
  width: 50%;
}
.preferred-start-date input {
  width: 80%;
  padding: 8px 12px;
  border-radius: 6px;
  outline: none;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.181);
}
@media (max-width: 991px) {
  .title-preferred-time {
    text-align: center;
  }
  .preferred-time {
    justify-content: center;
  }
  .preferred-start-date {
    width: 100%;
    padding-top: 30px;
  }
  .preferred-start-date input {
    width: 100%;
    padding: 8px 12px;
    border-radius: 6px;
    outline: none;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.181);
  }
}
.account-setup .signup {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 60px;
}
.form-left {
  width: 50%;
}
.form-right {
  width: 50%;
}
.form-left input {
  width: 80%;
  padding: 8px 12px;
  border-radius: 6px;
  outline: none;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.181);
}
.form-right input[type="password"] {
  width: 80%;
  padding: 8px 12px;
  border-radius: 6px;
  outline: none;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.181);
}
@media (max-width: 991px) {
  .signup {
    justify-content: center;
  }
  .form-left {
    width: 100%;
  }
  .form-left input {
    width: 100%;
  }
  .form-right {
    width: 100%;
  }
  .form-right input[type="password"] {
    width: 100%;
  }
}
.check-security-question {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.title-check-security-question {
  padding-top: 40px;
}
@media (max-width: 991px) {
  .title-check-security-question {
    text-align: center;
  }
  .check-security-question {
    justify-content: center;
  }
}
.check-security-question label {
  width: fit-content;
  padding: 8px;
  border-radius: 6px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.059);
}