* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --gainsboro: #dbdbdb;
  --white: white;
  --black: black;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
body {
  font-family: "Roboto", sans-serif;
}
img {
  max-width: 100%;
}
header .logo div {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.194);
  border-radius: 50%;
}
section {
  padding: 75px 0;
}
.hero {
  height: 349px;
  background: url(../images/course-hero.webp) center / cover;
}
.hero .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.hero .hero-text {
  text-align: center;
}
.hero .hero-text h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--white);
}
.hero .hero-text p {
  margin-bottom: 20px;
  color: var(--white);
}
.hero .hero-text input {
  display: block;
  width: 336px;
  margin: auto;
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  outline: none;
}
.hero .hero-text a {
  width: 240px;
  display: block;
  margin: 20px auto 0 auto;
  padding: 12px;
  border-radius: 8px;
  text-decoration: none;
  background-color: var(--black);
  color: var(--white);
}
.main-title {
  text-align: center;
}
.main-title h2 {
  font-size: 40px;
  font-weight: 700;
}
.explore-courses .courses-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 60px;
}
.explore-courses .courses-list .course {
  max-width: 360px;
  border: 1px solid rgba(0, 0, 0, 0.204);
  border-radius: 6px;
}
.explore-courses .course img {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.info {
  padding: 12px;
}
.info h3 {
  font-size: 16px;
  font-weight: 300;
}
.info p {
  margin-top: 4px;
  font-size: 20px;
  font-weight: 500;
}
.course-artificial-intelligence {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.course-artificial-intelligence .course {
  border: 1px solid rgba(0, 0, 0, 0.204);
  border-radius: 6px;
}
.course-details .courses-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 40px;
  padding-top: 60px;
}
@media (max-width: 440px) {
  .course-details .courses-list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
.course-details .courses-list .course {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.204);
  border-radius: 6px;
}
.course-details img {
  padding: 16px;
}
.course-details .info p {
  font-size: 16px;
  font-weight: normal;
  line-height: 25px;
}
.course-c-sharp {
  display: flex;
  align-items: center;
  margin-top: 40px;
  border: 1px solid rgba(0, 0, 0, 0.204);
  border-radius: 6px;
}
