* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --card-color: #dbdbdb;
  --white-color: white;
  --black-color: black;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  header .container nav label img {
    display: none;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
body {
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
input {
  appearance: none;
}
header {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 25px 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo {
  display: flex;
  align-items: center;
}
header .container .logo a {
  font-size: 28px;
  font-weight: 500;
  padding-left: 20px;
  color: var(--black-color);
}
header .container nav {
  display: flex;
  align-items: center;
  position: relative;
}
header .container ul {
  display: flex;
  align-items: center;
}
header .container ul a {
  padding: 0 20px;
  color: var(--black-color);
}
header .container ul .search {
  display: flex;
  align-items: center;
  position: relative;
}
header .container ul .search input {
  width: 200px;
  display: block;
  padding: 10px 15px;
  border: none;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.18);
  border-radius: 6px;
  background-color: transparent;
}
header .container ul .search img {
  position: absolute;
  right: 15px;
}
@media (max-width: 991px) {
  header .container .logo a {
    font-size: 20px;
    padding-left: 10px;
  }
  header .container ul {
    display: none;
  }
  header .container nav input:checked + ul {
    width: 200px;
    display: block;
    position: absolute;
    top: 60px;
    right: -15px;
    background-color: var(--white-color);
  }
  header .container ul a {
    display: block;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.356);
  }
  header .container ul li .contact {
    border: none;
  }
}
.hero {
  height: calc(100vh - 87px);
  background-image: url(../images/hero.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .container {
  display: flex;
  align-items: end;
  height: 100%;
  padding-bottom: 50px;
}
h1 {
  font-size: 45px;
  font-weight: 500;
  line-height: 70px;
}
.hero .container .title a {
  width: 171px;
  display: inline-block;
  text-align: center;
  margin: 15px 15px 0;
  padding: 15px 0;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 500;
  color: var(--black-color);
  background-color: var(--white-color);
}
